
datasets
scikit-learn
scikit-image
matplotlib 
pandas
tqdm
numpy
Pillow
transformers
sacrebleu
sentencepiece
evaluate
protobuf
accelerate>=0.26.0
diffusers
einops
timm
torchmetrics
dinov2
torch-fidelity
lpips
pytorch-msssim
opencv-python